<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Распознавание лиц и загрузка фотографий</title>
</head>
<body>
    <div id="banner">
        <div id="date-time"></div>
        <button id="logoutButton">Выйти</button>
    </div>

    <div id="video-container">
        <img id="video" src="/api/video_feed/" alt="Поток видео" />
    </div>

    <div id="upload-container">
        <h1>Загрузка фотографии</h1>
        <form id="upload-form" action="/api/upload/" method="post" enctype="multipart/form-data">
            <label for="title">Пользователь:</label>
            <input type="text" id="title" name="title" required>

            <label for="file">Файл:</label>
            <input type="file" id="file" name="file" accept="image/*" required>

            <label for="user_name">Имя для распознания:</label>
            <input type="text" id="user_name" name="user_name" required>

            <button type="submit">Загрузить</button>
        </form>
        <div id="response"></div>
    </div>

    <ul id="faces"></ul>

    <script src="/static/cvscr.js"></script>
    <script>

function updateDateTime() {
    const optionsDate = {
        timeZone: 'Europe/Moscow',
        year: 'numeric',
        month: 'long',
        day: 'numeric',
    };

    const optionsTime = {
        timeZone: 'Europe/Moscow',
        hour: '2-digit',
        minute: '2-digit',
        hour12: false
    };

    const date = new Date();
    const formattedDate = date.toLocaleDateString('ru-RU', optionsDate);
    const formattedTime = date.toLocaleTimeString('ru-RU', optionsTime);

    document.getElementById('date-time').innerText = `${formattedDate} ${formattedTime}`;
}


setInterval(updateDateTime, 1000);

updateDateTime();

    </script>
</body>
</html>
