<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Доступные USB-порты</title>
    <link rel="stylesheet" href="/static/portsstyle.css">
</head>
<body>

    <h1>Доступные USB-порты</h1>
    <select id="port-select" required>
        <option value="">-- Пожалуйста, выберите порт --</option>

    </select><br>
    <button id="connect-button">Подключиться</button><br>
    <button id="back-button">Вернуться на главный экран</button>

    <script src="/static/ports.js"></script>

</body>
</html>
