<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки полива</title>
    <link rel="stylesheet" href="/static/setting.css">
    </head>

<body>
    <div class="container">
        <h1>Тёплый пол</h1>
        <form id="temperature-form">
            <label for="temperature">Выберите температуру:</label>
            <select id="temperature" name="temperature" required>
                <option value="" disabled selected>Выберите температуру</option>
                <option value="10">10 °C</option>
                <option value="11">11 °C</option>
                <option value="12">12 °C</option>
                <option value="13">13 °C</option>
                <option value="14">14 °C</option>
                <option value="15">15 °C</option>
                <option value="16">16 °C</option>
                <option value="17">17 °C</option>
                <option value="18">18 °C</option>
                <option value="19">19 °C</option>
                <option value="20">20 °C</option>
                <option value="21">21 °C</option>
                <option value="22">22 °C</option>
                <option value="23">23 °C</option>
                <option value="24">24 °C</option>
                <option value="25">25 °C</option>
                <option value="26">26 °C</option>
                <option value="27">27 °C</option>
                <option value="28">28 °C</option>
                <option value="29">29 °C</option>
                <option value="30">30 °C</option>
                <option value="31">31 °C</option>
            </select>

            <button type="submit">Отправить</button>
        </form>

        <h1>Автополив</h1>

        <form id="time-form">
            <h2>Время включения полива</h2>

            <!-- Часы -->
            <label for="hour-on">Часы:</label>
            <select id="hour-on" name="hour-on" required>
                <option value="" disabled selected>Выберите часы</option>
            </select>

            <!-- Минуты -->
            <label for="minute-on">Минуты:</label>
            <select id="minute-on" name="minute-on" required>
                <option value="" disabled selected>Выберите минуты</option>
            </select>

            <!-- Кнопка сохранения времени включения -->
            <button type="submit" id="submit-clock-water">Сохранить время для включения полива</button>

            <!-- Время отключения полива -->
            <h2>Время отключения полива</h2>

            <!-- Часы -->
            <label for="hour-off">Часы:</label >
            <select id="hour-off" name="hour-off" required>
                <option value="" disabled selected>Выберите часы</option>
            </select>

            <!-- Минуты -->
            <label for="minute-off">Минуты:</label >
            <select id="minute-off" name="minute-off" required>
                <option value="" disabled selected>Выберите минуты</option>
            </select>

            <!-- Кнопка сохранения времени отключения -->
            <button type="submit" id="submit-clock-water-off">Сохранить время для отключения полива</button>
        </form>

        <button id="show-settings">Показать текущие настройки</button>
        <div id="settings-output"></div><br>

        <button id="back-to-home" onclick="window.location.href='/'">Вернуться на главную</button>

    </div>


<script src="/static/setting.js"></script>
</body>
</html>